.action-button-container {
  position: absolute;
  bottom: 25px;
  right: 20px;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .action-button-container {
    bottom: 100px;
    right: 25px;
  }

  .menu {
    bottom: 120px;
  }
}

.action-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.action-button:hover {
  transform: scale(1.1) rotate(90deg);
}

.action-button img {
  width: 20px;
  height: 20px;
}

.menu {
  width: 70px;
  height: auto;
  position: absolute;
  bottom: 60px; /* Place le menu au-dessus du bouton */
  left: -10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: slideIn 0.3s ease-in-out;
  z-index: 1000;
}

.menu-item {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  color: #333;
}

.menu-item img {
  width: 20px;
  height: 20px;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
