.title {
  color: #f09f33;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1.5rem 0 0 0;
  width: 100%;
}

.price-before {
  color: #000000;
  text-decoration: line-through;
}

.price-after {
  color: #f09f33;
}

.monthly {
  text-align: center;
  margin: 0;
}

.features {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
