.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  align-items: center;
  top: 0;
  left: -100%; /* Cacher la sidebar hors de l'écran */
  width: 300px;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sidebar--open {
  left: 0; /* Afficher la sidebar */
}

.sidebar--open .container {
  position: fixed;
  width: 300px;
}

.sidebar--open button {
  background: none;
  border: none;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  right: 0px;
  top: 10px;
}

.sidebar--open button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.sidebar--open button img {
  width: 30px;
  height: 30px;
}


.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  margin-bottom: 5px;
}

.sidebar-placeholder {
  text-align: center;
  padding: 20px;
  color: #aaa;
}

.sidebar-content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Espacement en bas */
  padding: 15px;
}

.sidebar-content .logo img {
  max-width: 100%; /* L'image s'adapte à la largeur disponible */
  max-height: 75px; /* Limite la hauteur */
  width: auto; /* Conserve le ratio de l'image */
  height: auto; /* Conserve le ratio de l'image */
  object-fit: contain; /* Garde l'image entière visible, sans rognage */
}

.sidebar h2 {
  margin-bottom: 10px;
  text-align: center;
}

.sidebar-content h3 {
  margin-top: 15px;
  text-align: center;
}

.sidebar p {
  margin-bottom: 5px;
  font-size: 14px;
}

.fuel-prices,
.opening-hours,
.services {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.fuel-prices h3,
.opening-hours h3,
.services h3,
.electric-prices h3 {
  text-align: left;
}

.fuel-prices ul li,
.services ul li {
  display: flex;
  align-items: center;
}

.electric-prices p {
  display: flex;
  align-items: center;
}

.electric-prices p img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.fuel-prices ul li img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.maj {
  font-size: 12px;
  color: #aaa;
  text-align: center;
  margin-top: 20px;
}